<div class="container">
  <h2 class="header">Mock Data Creator</h2>

  <div style="margin: 15px;">
    <div>
      <textarea [(ngModel)]="jsonInput" rows="6" class="json-input" placeholder="Paste JSON here..."></textarea>
    </div>
    <div style="margin: 15px;">
      <button (click)="processJson()" class="btn process-btn">Process</button>
    </div>
  </div>
  <div class="card-container">
    <div class="card" *ngFor="let key of objectKeys(dataTypes)">
      <div class="card-header">{{ key }}</div>
      <div class="card-body">
        <label>Data Type</label>
        <select [(ngModel)]="dataTypes[key]" (change)="onDataTypeChange(key)" class="dropdown">
          <option *ngFor="let option of dropdownOptions" [value]="option">{{ option }}</option>
        </select>

        <!-- String Type -->
        <div *ngIf="dataTypes[key] === 'string'" class="input-group">
          <label>No. of Random Values:</label>
          <input type="number" [(ngModel)]="stringRandomValues[key]" min="1" class="input-field" />

          <label>Custom Input:</label>
          <input type="text" [(ngModel)]="customStringValues[key]" placeholder="e.g., asset1, asset2"
            class="input-field" />
        </div>

        <!-- Number Type -->
        <div *ngIf="dataTypes[key] === 'number'" class="input-group">
          <label>Min:</label>
          <input type="number" [(ngModel)]="numberRange[key].min" class="input-field" />

          <label>Max:</label>
          <input type="number" [(ngModel)]="numberRange[key].max" class="input-field" />
        </div>

        <!-- Date Type -->
        <div *ngIf="dataTypes[key] === 'date'" class="input-group">
          <label>Start Date:</label>
          <input type="date" [(ngModel)]="dateValues[key].startDate" class="input-field" />

          <label>End Date:</label>
          <input type="date" [(ngModel)]="dateValues[key].endDate" class="input-field" />
        </div>
      </div>
    </div>
  </div>

  <div style="margin: 15px;">
    <label>No. of Data to Generate:</label>
    <input style="width: 35px;" type="number" [(ngModel)]="numOfEntries" class="input-field" />
  </div>

  <div style="margin: 15px;">
    <button style="width: 175px;" (click)="generateData()" class="btn generate-btn">Generate</button>
  </div>


  <div *ngIf="generatedData.length" class="output-container">
    <h3>Generated JSON Data:</h3>
    <button (click)="copyToClipboard()" class="btn copy-btn">Copy JSON</button>
    <span *ngIf="copySuccess" class="copy-message">✔ Copied!</span>
    <pre class="json-output">{{ generatedData | json }}</pre>

  </div>
</div>